{% extends 'base.html' %}
{% load static %}
{% block content %}





	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>See more Details</p>
						<h1>Single Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">

					<div class="single-product-img">
						<img src={{pr.img.url}} alt="">
					</div>

				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3>{{pr.name}}</h3>
						<p>{{pr.desc}}</p>
						<p class="single-product-pricing">{{pr.price}}</p>
						<p>Stock:{{pr.stock}}</p>

						<div class="single-product-form">

							{% if pr.stock <= 0 %}
							<h3 style="color:red;">No stock available</h3>
							{% else %}
							<a href="{% url 'add_cart' pr.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
							{% endif %}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->
<br>
<br>






	<!-- jquery -->
	<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'assets/js/main.js' %}"></script>


{% endblock %}
